/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Banner
- Scalable Container
- Remove Undo


/* Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
    height: 100px;
    background-color: #2f3445; /* Machine Learning Color is orange */
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-bottom: 10px;
}

.banner h2 {
    color: white;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size:4rem;
    line-height:1;
}

.banner Img {
    position: relative;
    float: right;
    height: 75px;
}

/* Scalable Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container.scalable {
    width: 90%;
    max-width: none;
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._dash-undo-redo {
  display: none;
}

body{
    background-color: #282b38;
    color: rgb(255, 255, 255);
}

.Select-value{
    color: rgb(0, 0, 0) !important;
}