altgraph==0.17
Brotli==1.0.9
certifi==2020.12.5
chardet==4.0.0
chart-studio==1.1.0
click==7.1.2
dash==1.19.0
dash-auth==1.4.1
dash-bootstrap-components==0.11.3
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
Flask==1.1.2
Flask-Compress==1.9.0
Flask-SeaSurf==0.3.0
future==0.18.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
mpmath==1.2.1
numpy==1.20.1
plotly==4.14.3
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
requests==2.25.1
retrying==1.3.3
scikit-learn==0.24.1
scipy==1.6.1
six==1.15.0
sympy==1.7.1
threadpoolctl==2.1.0
ua-parser==0.10.0
urllib3==1.26.3
Werkzeug==1.0.1
